elm/elm-stuff/*
rx/node_modules/*
*~
*\#
racketimpl/compiled/
racketimpl/benchmarks/compiled/
racketimpl/synthesis/compiled/
racketimpl/verification/compiled/
racketimpl/straightline_synthesis/fixed_graph/compiled/
racketimpl/clock/compiled/
