elm/elm-stuff/*
rx/node_modules/*
*~
*\#
racketimpl/compiled/
racketimpl/benchmarks/compiled/
racketimpl/synthesis/compiled/
racketimpl/verification/compiled/
racketimpl/straightline_synthesis/compiled/
racketimpl/straightline_synthesis/fixed_graph/compiled/
racketimpl/clock/compiled/
rx/racketimpl/compiled/
rx/racketimpl/benchmarks/compiled/
deepcoderlang/compiled/
racketimpl/discretetime/compiled/
racketimpl/atemporal/compiled/
racketimpl/atemporal-integer/compiled/
racketimpl/escalator/model3/compiled/
racketimpl/escalator/model1/compiled/
racketimpl/escalator/model2/compiled/
racketimpl/escalator/model3/lut/compiled/
